.cloclo_address {
    display: flex;
  	justify-content: space-around;
  	margin-top: 2vh;
    padding-top: 4vh;
    width: 100%;
}

.num_address {
	margin: 2vh;
    text-align: left;
    width: 70%;
 	
}
.google_map_cloclo{
    width: 40vh;

}

.map_cloclo{
    padding-top: 2vh;
    height: 80%;
}


.num_cloclo {
    text-align: left;

}
